.main {
  padding: 5rem;
  color: rgb(0, 0, 0); 
  margin: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 80%;
  background: #c2c0c0;
  justify-content: center;
  border-radius: 10px;

} 

.form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.input {
  text-align: center;
  border-radius: 10px;

}

.button {
  border-radius: 10px;
  background-color: #8b8b8b;
}